// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$concrete: #c5c5c5;
$white: #ffffff;
$black: #000000;
$cerulean: #00aecc;
$coralred: #ff3b3b;
$mossgreen: #b7e0ad;
$gallery: #ededed;


///Main brand color
$brand-primary: $cerulean;

// Spacing
$space: 1.4rem;

// Button
$button-bg: $cerulean;
$button-color: $white;
$button-pill-color: $cerulean;
$button-danger: $coralred;
$button-success: $mossgreen;

// Font sizes
$base-font-size: 1.6rem;

// Form inputs
$input-border: $concrete;

// Boxed view
$boxed-view-overlay-bg: $concrete;
$boxed-view-bg: $white;

// Links
$link-color: $black;
