// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.

// Please make sure to add variables to the proper section!
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Colors
$cerulean: #00aecc;
$alt-cerulean: darken($cerulean, 35%);
$concrete: #f2f2f2;
$coralred: #ff3b3b;
$mossgreen: #b7e0ad;
$white: #ffffff;
$black: #000000;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;
$gallery: #efefef;
$orange: #ffab4a;

///Main brand color
$brand-primary: $cerulean !default;
$brand-secondary: $concrete;

// Fonts
$text-font-stack: 'Varela Round', sans-serif !default;

// Font Sizes
$base-font-size: 1.6rem;

// Font Colors
$text-color: $alt-cerulean !default;


// Spacing
$space: 1.4rem;

// Body
$body-bg-color: $brand-secondary;
$body-default-color: $alt-cerulean;

// Header


// Page Content

// Form inputs
$input-border: $concrete;
$input-spacing: 1rem;

// Button
$button-bg: $brand-primary;
$button-color: $white;
$button-pill-color: $brand-primary;
$button-danger: $coralred;
$button-success: $mossgreen;


// Boxed view
$boxed-view-overlay-bg: $concrete;
$boxed-view-bg: $white;
$boxed-view-border: $dark-grey;


// Item
$item-border-width: 4px;
$item-text-color: $dark-grey;

// Links
$link-color: $alt-cerulean;
