html
{
    font-family: $text-font-stack;
    font-size: 62.5%; // approx 10px
}

body
{
    font-size: $base-font-size;

    color: $body-default-color;
    background-color: $body-bg-color;
}

h1
{
    font-weight: 400;
    margin-bottom: $space;
    padding: $space;
    text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

p
{
    margin-bottom: $space;
}

a
{
    color: $link-color;
}

[type=text],
[type=email],
<<<<<<< HEAD
[type=password],
textarea
{
    font-size: $base-font-size;
    color: $body-default-color;
    margin-bottom: $space;
    padding: 1rem;

    border: 1px solid $input-border;
=======
[type=password] {
  font-size: $base-font-size;
  font-weight: 400;
  margin-bottom: $space;
  padding: 1rem;
  border: 1px solid $input-border;
>>>>>>> 09dae5307f613f6a4da83034147df31722d2c0d1
}

label {
  font-weight: 600;
  display: block;
}

label {
  font-weight: 600;
  display: block;
}
