.boxed-view {
  align-items: center;
  background: $boxed-view-overlay-bg;
  display: flex;
  height: auto;
  justify-content: center;
  width: 100vw;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  text-align: center;
  width: 40rem;
  margin: 0px auto;
  margin-bottom: 50px;
}

.boxed-view__form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.ReactModal__Overlay--after-open {
  background: fade-out($dark-grey, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.PresTitle {
  margin-bottom: -2rem;
}

.content-wrap {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
