<<<<<<< HEAD
.list-item
{
    padding-top: $space;

    border-top: 10px solid $brand-primary;
}
=======
.list-item {
  border-top: 10px solid $brand-primary;
  padding-top: $space;
} 
>>>>>>> c0d0c76c63f0cfd97049e1951a8f356f045db438
